html {
    height: 100%;
}
@font-face {
    font-family: 'ChairFont';
    src: url(KickMyC/Chairfont.ttf);
}
    

body {
    line-height:1;
    background-image: linear-gradient(rgb(240, 134, 208),rgb(73, 147, 156));
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.nav{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    flex-wrap: wrap;

}
.links{
    list-style: none;
    text-decoration: none;
    gap: 25px;
    display: flex;
    text-align: center;
    padding-left: 0px;

    
}
a{
    text-decoration: none;
    flex-wrap: nowrap;
}
#Button {

cursor: pointer;
border: none;
touch-action: manipulation;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
#IB1{
    width: 60%;
    height: 35%;
    max-height: 300px;
    touch-action: manipulation;
    

}


#Button:active{
    transform: translateY(20px);
    transition: 0.1s ease;

}
#thumbnail{

    max-width: 300px;
    
}
    
#kicked {
    background: url('kick.jpg')no-repeat;
    max-height: 400px;
    
    
    
}
#nokick {
    background: url('no_kick.jpg') no-repeat;
    max-height: 400px;
    
}

.container {
margin: 0 auto;
height: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}

audio {
   
   transform: translateY(30%);

    
}
#counter {
    font-family: "ChairFont";
    font-size:6vw;
    color: rgb(52, 250, 141);
    
    
}



