


body {
    line-height:1;
    background-color: RGB(235, 52, 195);
   
}

#Button {
position: relative;
top: 500px;
left: 500px;
padding:0;
margin:0;
cursor: pointer;
border: none;
border-radius: 15px;
box-shadow: 0px 5020px 0px 0px rgb(77, 25, 33);



}
#Button:active{
    transform: translateY(20px);

}



.Dom {
position: relative;
bottom: 400px;
left: 550px;
}
img {
    position: relative;
    
    width: 400px;
    height: 600px;
    }

.kicked {
    position: relative;
    
    width: 400px;
    height: 600px;
    background: url('kick.jpg')no-repeat;
}
.unkicked {
    position: relative;
    width: 400px;
    height: 600px;
    background: url('no_kick.jpg') no-repeat;
}
h2 {
    margin: 0 50px;
    font-size: 500px;
}
.container {
position: relative;
width:900px;
display:flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
padding:30px;
margin-top: 8%;

}
